body{
	margin: 0;
	overflow-x: hidden;
	font-family: 'opr';
}
@font-face {
	src: url('fonts/OpenSans-Regular.ttf');
	font-family: 'opr';
}
@font-face {
	src: url('fonts/OpenSans-Bold.ttf');
	font-family: 'opb';
}
.heading{
	color: #000;
	font-size: 8vh;
	font-family: 'opb';
}
.about-para{
	font-size: 20px;
	font-family: 'opr';
	padding: 5vh;
}
.works{
	/*background-image: url('home_sec.jpg');*/
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: unset; */
	width: 100vw;
	/* background-color: #000; */
	color:#fff;
}
/* .card{
	height: 40vh;
	border-right: 0.6px solid #efefef;
	border-bottom: 0.6px solid #efefef;
	cursor: pointer;
	padding-top: 5vh;
	background-color: #000;
	padding-left: 5vh;
	padding-right: 5vh;
}
.card-head{
	font-size: 18px;
}
.card-ic{
	background-image: url('assets/logo-w.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 5vh;
	width: 5vh;
	margin-bottom: 3vh;
}
.card-line{
	height: 1px;
	background-color: #fff;
	width: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.card-para{
	font-size: 12px;
} */
.bars{
	position: fixed;
	z-index: 30;
	cursor: pointer;
	right: 10%;
}
.bar{
	height: 2px;
	transition: 300ms;
	width: 50px;
	background-color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
}
.bartender{
	display: inline-block;
}
.bar-name{
	display: inline-block;
	transition: 300ms all ease-in-out;
	transform: translate(-7px, -17.5px);
}
.bar1-ac{
	transform: rotate(45deg);
}
.bar2-ac{
	opacity: 0;
}
.bar3-ac{
	transform: rotate(-45deg);
	margin-top: -11.5px;
}
.menu{
	position: fixed;
	z-index: 20;
	text-align: center;
	padding-top: 20vh;
	font-size: 5vh;
	height: 100vh;
	width: 40vw;
	margin-left: 100vw;
	transition: 500ms all ease-in-out;
	background-color: #fff;
}
.item{
	padding-top: 3vh;
	cursor: pointer;
}
ul{
	list-style-type: none;
}
.menu-ac{
	margin-left: 60vw;
}
.bar-name-ac{
	opacity: 0;
}
